__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.env
.pytest_cache/
build/
dist/
.git
node_modules
frontend-new/build
backend/db.sqlite3
ml/models
*.log
docker-compose.yml
Dockerfile
README.md
/*.md
